node_modules
**/node_modules
**/dist
**/build
**/.env
**/.DS_Store
__pycache__
.venv
.vscode
.idea
**/*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
release/*.tar.gz
coverage
**/coverage
.pytest_cache
**/.pytest_cache
venv
**/venv
target
**/target
**/tests
**/__tests__
